@charset "utf-8";
/* CSS Document */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,input,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,textarea,sup,table,tr,td,tbody,td,tfoot,th,thead,time,tt,u,ul,li,var,video,xmp{border:0;margin:0;padding:0;font-size:12px;font-family:Arial,"微软雅黑";}
textarea{resize: none;}
ol,ul,li{list-style: none;}
img{border:none;}
a{text-decoration:none;}
a:hover{opacity:0.9;}


body{background:#fff;overflow-x:hidden;}
.l{float:left;}
.c{float:left;}
.r{float:right;}
.M{width:1000px;margin:0 auto;}
.Kong{height:12px;}